.body-coach-creation-events {
  padding-top: 88px;
  width: 100%;
  position: relative;
  background-color: black;
  color: white;
}

.body-creation-event-coach {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    border-radius: 20px;
    border: 2px solid rgba(217, 113, 255, 0.8);
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 50px;
}

.title-creation-event {
    display: flex;
    justify-content: left;
    padding-left: 20px;
    align-items: center;
    text-align: left;
    font-size: 2rem;
    height: 70px;
    color: rgb(255, 186, 253);
    font-weight: bold;
    font-family: Helvetica;
    text-shadow: var(--text-glow);
}

.formulaire-add-event {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 10px auto 0 auto;
    width: 90%;
    padding: 20px;
}


.emoji-fleche-tournante {
    font-size: 3rem;
    align-self: center;
    transform: rotate(90deg);
}


.form-left,
.form-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
}

.formulaire-event-classique,
.formulaire-big-event {
    display: flex;
    gap: 40px;
    width: 100%;
}


.switch-event-bigevent {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 25px;
}

.switch-btn {
    padding: 10px 20px;
    border-radius: 12px;
    border: 1px solid rgb(217, 113, 255);
    background: transparent;
    color: white;
    text-shadow: var(--text-glow);
    cursor: pointer;
    font-weight: bold;
    transition: 0.2s;
}

.switch-btn:hover {
    background: rgba(217, 113, 255, 0.2);
    border: 1px solid rgb(217, 113, 255);
}

.switch-btn.active {
    background: rgb(217, 113, 255);
    color: rgb(39, 0, 65);
}

.form-group {
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 1.1rem;
    width: 100%;
}

.form-group select {
    padding: 10px;
    border-radius: 10px;
    border: 2px solid rgba(217, 113, 255, 0.4);
    background-color: rgba(255, 255, 255, 0.05);
    color: white;
    font-size: 1rem;
    outline: none;
    transition: 0.2s;
    width: 100%;
    box-sizing: border-box;
}

.form-group select:focus {
    border: 1px solid rgb(217, 113, 255);
    background-color: black;
    box-shadow: 0 0 5px rgba(217, 113, 255, 0.7);
}


.form-group label {
    margin-bottom: 6px;
    font-weight: bold;
}

.form-group input,
.form-group textarea {
    padding: 10px;
    border-radius: 10px;
    border: 2px solid rgba(217, 113, 255, 0.4);
    background-color: rgba(255, 255, 255, 0.05);
    color: white;
    outline: none;
    font-size: 1rem;
    transition: 0.2s;
    width: 100%;
    box-sizing: border-box;
}

.form-group input:focus,
.form-group textarea:focus {
    border-color: rgb(217, 113, 255);
    box-shadow: 0 0 5px rgba(217, 113, 255, 0.7);
}

.form-group textarea {
    height: 120px;
    resize: none;
}

.btn-submit-event{
    margin-top: 5px;
    border-radius: 10px;
    background-color: rgb(217, 113, 255);
    color: rgb(39, 0, 65);
    font-weight: bold;
    font-size: 1.3rem;
    cursor: pointer;
    box-shadow: var(--button-glow);
    transition: 0.2s;
}
.btn-submit-event:hover {
    background-color: rgb(255, 137, 255);
    transition: all 0.2s;
}