.vp-container {
  display: flex;
  align-items: center;
  gap: 12px;
  position: relative;
  user-select: none;
  color: white;
  font-family: Helvetica;
}

.vp-avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid rgba(187, 0, 255, 0.8);
  background-color: #0a0015;
  box-shadow: 0 0 10px rgba(187, 0, 255, 0.6);
}

.vp-username {
  display: flex;
  align-items: center;
  gap: 6px;
  font-weight: bold;
  cursor: pointer;
  text-shadow: 0 0 8px rgba(128, 0, 255, 0.7);
}

.vp-arrow {
  transition: transform 0.2s ease;
  font-size: 12px;
}

.vp-arrow.open {
  transform: rotate(180deg);
}

.vp-login-btn {
  padding: 0.2rem 1rem;
  background-color: rgba(187, 0, 255, 0.8);
  border-radius: 15px;
  color: white;
  font-weight: bold;
  font-family: Helvetica;
  font-size: 1.1rem;
  border: none;
  cursor: pointer;
  box-shadow: var(--text-glow);
  transition:
    background-color 0.3s ease,
    box-shadow 0.3s ease,
    scale 0.3s ease;
}

.vp-login-btn:hover {
  scale: 1.05;
  background-color: rgba(187, 0, 255, 1);
  box-shadow: var(--text-glow);
}

.vp-menu {
  position: absolute;
  top: 55px;
  right: 0;
  width: 170px;
  background: rgb(9, 0, 15);
  border: 1px solid rgba(187, 0, 255, 0.8);
  border-radius: 12px;
  box-shadow: 0 0 12px rgba(187, 0, 255, 0.5);
  display: flex;
  flex-direction: column;
  padding: 6px;
  z-index: 1500;
}

.vp-menu-item {
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
  color: white;
  text-shadow: 0 0 10px rgba(187, 0, 255, 0.6);
  font-family: Helvetica;
  transition: color 0.2s ease;
}

.vp-menu-item:hover {
  background-color: rgba(187, 0, 255, 0.2);
  color: rgba(187, 0, 255, 1);
}
