#root {
  width: 100%;
  min-width: 390px;
  text-align: center;
}

.navbar {
  background-color: rgb(9, 0, 15);
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  border-bottom: 1px solid rgba(217, 113, 255, 0.8);
  box-sizing: border-box;
}

.navbar-left {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.navbar-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.btnnav {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-family: Helvetica;
  font-size: 1.2rem;
  margin-left: 40px;
  text-shadow: var(--text-glow);
}

.btnnav:hover {
  color: white;
  text-shadow:
    0 0 8px rgba(128, 0, 255, 0.7),
    0 0 16px rgba(128, 0, 255, 0.5);
}

.btnconnexion {
  justify-content: flex-end;
  padding: 0.2rem 1rem;
  background-color: rgba(187, 0, 255, 0.8);
  border-radius: 15px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-family: Helvetica;
  font-size: 1.2rem;
  box-shadow: var(--text-glow);
  border: none;
  transition:
    background-color 0.3s ease,
    box-shadow 0.3s ease,
    scale 0.3s ease;
}

.btnconnexion-sidemenu:hover,
.btnconnexion:hover {
  text-decoration: none;
  border: none;
  color: white !important;
  scale: 1.05;
  background-color: rgba(187, 0, 255, 1);
  box-shadow: var(--text-glow);
  transition:
    background-color 0.3s ease,
    box-shadow 0.3s ease,
    scale 0.3s ease;
}

.btnconnexion-sidemenu {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem 1rem;
  background-color: rgba(187, 0, 255, 0.8);
  border-radius: 15px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-family: Helvetica;
  font-size: 1.2rem;
  box-shadow: var(--text-glow);
  border: none;
  transition:
    background-color 0.3s ease,
    box-shadow 0.3s ease,
    scale 0.3s ease;
}

.logoNavbar {
  height: 50px;
  margin: 0;
  filter: drop-shadow(0 0 10px rgba(128, 0, 255, 1))
    drop-shadow(0 0 20px rgba(128, 0, 255, 0.8));
}

.navbar-toggler-hamburger {
  border: none;
  background: transparent;
  width: 50px;
  height: 50px;
  padding: 0;
  cursor: pointer;
  transition: all 0.3s ease;
}

.navbar-toggler-hamburger:hover {
  transform: scale(1.1);
}

.hamburger-icon {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@media (max-width: 800px) {
  .navbar-toggler-hamburger {
    display: block;
  }

  .btnnav {
    display: none;
  }
}

.side-menu {
  position: fixed;
  top: 0;
  width: 25%;
  left: -40%;
  height: 100%;
  background-color: rgba(6, 0, 28, 0.98);
  border-right: 2px solid rgba(187, 0, 255, 0.8);
  display: flex;
  flex-direction: column;
  padding: 2rem 1.5rem;
  transition: left 0.4s ease;
  z-index: 2000;
  align-items: center;
}

.side-menu.open {
  left: 0;
}

.side-menu a {
  color: white;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: bold;
  margin: 1rem 0;
  font-family: Helvetica;
  text-shadow: 0 0 10px rgba(187, 0, 255, 0.6);
}

.side-menu a:hover {
  color: rgba(187, 0, 255, 1);
}

.bottom-sidemenu {
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  justify-content: center;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1500;
}

@media (max-width: 1100px) {
  .btnnav {
    font-size: 1.2rem;
    gap: 3rem;
  }
}

@media (max-width: 1080px) {
  .btnnav {
    font-size: 1rem;
    gap: 2rem;
  }

  .logoNavbar {
    height: 40px;
  }
}

@media (max-width: 990px) {
  .btnnav:nth-child(6) {
    display: none;
  }
}

@media (max-width: 860px) {
  .btnnav:nth-child(5) {
    display: none;
  }
  .btnconnexion-sidemenu {
    width: 90%;
  }
}

@media (max-width: 700px) {
  .btnnav:nth-child(4) {
    display: none;
  }
}

@media (max-width: 600px) {
  .btnnav:nth-child(3) {
    display: none;
  }
}

@media (max-width: 500px) {
  .btnnav:nth-child(2) {
    display: none;
  }

  .logoNavbar {
    height: 40px;
  }
}